// These colors are specific to the theme. Do not use in a package!

//light theme inverts values:
@very-light-gray: #505049;
@light-gray: #5e5e55;
@gray: #5c5854;
@dark-gray: #808782;
@very-dark-gray: #dfded6;

@cyan: #449c12;
@blue: #3f84a2;
@purple: #ac4182;
@green: #888316;
@red: #9c512c;
@orange: #df5c0a;
@light-orange: lighten(@orange, 9%);
